{% extends 'base_no_cart.html' %}
{% load staticfiles %}
{% block title %}
    天天生鲜-提交订单
{% endblock %}

{% block page_title %}
    提交订单
{% endblock %}


{% block content %}

    <h3 class="common_title">确认收货地址</h3>

    <div class="common_list_con clearfix">

        <dl>
            <dt>寄送到：</dt>
            {% if address %}
                <dd><input type="radio" name="address_id" value="{{ address.id }}"
                           checked="true">{{ address.detail_addr }} （{{ address.receiver_name }}
                    收） {{ address.receiver_mobile }}</dd>
            {% else %}
                <dd>当前没有地址</dd>
            {% endif %}
        </dl>
        <a href="{% url 'users:site' %}" class="edit_site">编辑收货地址</a>

    </div>

    <h3 class="common_title">支付方式</h3>
    <div class="common_list_con clearfix">
        <div class="pay_style_con clearfix">
            <input type="radio" name="pay_style" value="1" checked>
            <label class="cash">货到付款</label>
            <input type="radio" name="pay_style" value="2">
            <label class="weixin">微信支付</label>
            <input type="radio" name="pay_style" value="3">
            <label class="zhifubao"></label>
            <input type="radio" name="pay_style" value="4">
            <label class="bank">银行卡支付</label>
        </div>
    </div>

    <h3 class="common_title">商品列表</h3>

    <div class="common_list_con clearfix">
        <ul class="goods_list_th clearfix">
            <li class="col01">商品名称</li>
            <li class="col02">商品单位</li>
            <li class="col03">商品价格</li>
            <li class="col04">数量</li>
            <li class="col05">小计</li>
        </ul>

        {% for sku in skus %}
            <ul class="goods_list_td clearfix">
                <li class="col01">{{ forloop.counter }}</li>
                <li class="col02"><img src="{{ sku.default_image.url }}"></li>
                <li class="col03">{{ sku.name }}</li>
                <li class="col04">{{ sku.unit }}</li>
                <li class="col05">{{ sku.price }}元</li>
                <li class="col06">{{ sku.count }}</li>
                <li class="col07">{{ sku.amount }}元</li>
            </ul>
        {% endfor %}

    </div>

    <h3 class="common_title">总金额结算</h3>

    <div class="common_list_con clearfix">
        <div class="settle_con">
            <div class="total_goods_count">共<em>{{ total_count }}</em>件商品，总金额<b>{{ total_amount }}元</b></div>
            <div class="transit">运费：<b>{{ trans_cost }}元</b></div>
            <div class="total_pay">实付款：<b>{{ total_pay }}元</b></div>
        </div>
    </div>

    <div class="order_submit clearfix">
        <a href="javascript:;" id="order_btn">提交订单</a>
    </div>

    <div class="popup_con">
        <div class="popup">
            <p>订单提交成功！</p>
        </div>

        <div class="mask"></div>
    </div>
{% endblock %}



{% block js_bottom %}
    {% csrf_token %}
    <script type="text/javascript">
        $('#order_btn').click(function () {
            var sku_ids_str = '{{ sku_ids_str }}';
            var address_id = $('input[name="address_id"]').val();
            var pay_method = $('input[name="pay_style"]:checked').val();
            var csrf = $('input[name="csrfmiddlewaretoken"]').val();
            alert(sku_ids_str + ' ' + address_id + ' ' + pay_method + ' ' + csrf);

            var params = {
                'sku_ids_str': sku_ids_str,
                'address_id': address_id,
                'pay_method': pay_method,
                'csrfmiddlewaretoken': csrf
            };

            $.post('/orders/commit', params, function (data) {
                if (data.code == 0) {
                    localStorage.setItem('order_finish', 2);

                    $('.popup_con').fadeIn('fast', function () {

                        setTimeout(function () {
                            $('.popup_con').fadeOut('fast', function () {
                                window.location.href = '{% url "users:orders" 1 %}';
                            });
                        }, 3000)

                    });
                } else {
                    alert(data.errmsg)
                }
            });

        });


    </script>
{% endblock %}


